/*
 *
 * General elements
 *
 */
body {
	font-family:Helvetica, arial, sans-serif;
	color:#333333;
	min-width:980px;
}

.hr {
	border-bottom:dotted 1px #000;
}

/* jQuery UI */
.ui-datepicker, .ui-autocomplete { font-size:12px; }
.ui-datepicker-trigger {
	background:none;
	position:relative;
	top:2px;
	left:2px;
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ui-dialog {
	font-size:12px;
}


/*
 *
 * Layout
 *
 */
#page {
	margin-bottom:0px;
	position:relative;
	width:960px;
	margin:0 auto;
}
#header {
	margin:0;
	padding:0;
	padding-bottom:10px;
}
#content {
	margin:0;
	position:relative;
}
#inner {
	margin:0;
	padding:0;
}
#footer {
	position:relative;
	margin-top:10px;
}


/*
 *
 * Header
 *
 */
#header {
	border-bottom:dotted 1px #000;
}

#header h1 {
	font-size:50px;
	margin:20px 0;
}
#header h1 a {
	color:#000;
	text-decoration:none;
}

#header .menu {
	font-size:12px;
}

#header #menu .create {
	float:right;
}



/*
 *
 * Footer
 *
 */
#footer {
	border-top:dotted 1px #000;
}
#footer .inner {
	padding:0;
}
#footer .menu {
	font-size:12px;
	margin-top:10px;
}